@charset "utf-8";
/*
World of Warcraft Armory master layout file
(c) Blizzard Entertainment 2007. All rights reserved.
*/

/* Armory CSS Index ................... /

/..................................  */
/* global elements */
/* tips table */
/*...........................................................*/
.tip{width:100%;position:relative}
.tip table{margin:0}
.tip table td{padding:0}
td.tip-top-left,td.tip-top,td.tip-top-right,td.tip-bot-left,td.tip-bot,td.tip-bot-right{height:13px}
td.tip-top-left,td.tip-top-right,td.tip-left,td.tip-right,td.tip-bot-left,td.tip-bot-right{width:13px}
td.tip-top-left{background:url('../images/tip-top-left.gif') no-repeat}
td.tip-top-right{background:url('../images/tip-top-right.gif') no-repeat}
td.tip-top{background:url('../images/tip-top1.gif') repeat-x}
td.tip-left{background:url('../images/tip-left.gif') repeat-y}
td.tip-right{background:url('../images/tip-right.gif') repeat-y}
td.tip-bg{background:url('../images/tip-bg1.gif') repeat}
td.tip-bot-left{background:url('../images/tip-bot-left.gif') no-repeat}
td.tip-bot-right{background:url('../images/tip-bot-right.gif') no-repeat}
td.tip-bot{width:auto;background:url('../images/tip-bot1.gif') repeat-x}
/* sub tips table */
/*...........................................................*/
/*.rlbox,.rlbox1,.rlbox2{background:url('../images/sbg.gif') repeat;display:table;border:1px solid #dab855;width:100%;margin-right:5px}
.rlbox1{margin-bottom:5px}
.rlbox2{margin-right:0px}*/
/* speak bubble tips table */
/*...........................................................*/
.b-top-left,.b-top,.b-top-right,.b-bot-left,.b-bot,.b-bot-right{height:7px !important}
.b-top-left,.b-top-right,.b-left,.b-right,.b-bot-left,.b-bot-right,.btable{width:7px !important;padding:0 !important;margin:0 !important}
td.b-top-left{background:url('../images/btl.gif') no-repeat}
td.b-top-right{background:url('../images/btr.gif') no-repeat}
td.b-top{background:url('../images/bt.gif') repeat-x}
td.b-left{background:url('../images/bl.gif') repeat-y}
td.b-right{background:url('../images/br.gif') repeat-y}
td.b-bg{background:url('../images/bbg.gif') repeat}
td.b-bot-left{background:url('../images/bbl.gif') no-repeat}
td.b-bot-right{background:url('../images/bbr.gif') no-repeat}
td.b-bot{width:auto;background:url('../images/bb.gif') repeat-x}
/* sb2 tips table */
/*...........................................................*/
.sb2 .b-top-left,.sb2 .b-top,.sb2 .b-top-right,.sb2 .b-bot-left,.sb2 .b-bot,.sb2 .b-bot-right{height:7px !important}
.sb2 .b-top-left,.sb2 .b-top-right,.sb2 .b-left,.sb2 .b-right,.sb2 .b-bot-left,.sb2 .b-bot-right,.sb2 .btable{width:7px !important;padding:0 !important;margin:0 !important}
.sb2 td.b-top-left{background:url('../images/b2tl.gif') no-repeat}
.sb2 td.b-top-right{background:url('../images/b2tr.gif') no-repeat}
.sb2 td.b-top{background:url('../images/b2t.gif') repeat-x}
.sb2 td.b-left{background:url('../images/b2l.gif') repeat-y}
.sb2 td.b-right{background:url('../images/b2r.gif') repeat-y}
.sb2 td.b-bg{background:url('../images/bbg.gif') repeat}
.sb2 td.b-bot-left{background:url('../images/b2bl.gif') no-repeat}
.sb2 td.b-bot-right{background:url('../images/b2br.gif') no-repeat}
.sb2 td.b-bot{width:auto;background:url('../images/b2b.gif') repeat-x}
/* tooltip */
/*...........................................................*/
#tooltipcontainer{display:none;visibility:hidden;position:absolute;width:auto;z-index:999999;top:20px}
#tool1container{float:left;display:inline;width:auto}
.tooltipContentSpecial{color:#ffd800;font-weight:normal;font-size:11px;display:block}
.tooltipContentSpecial strong{color:white}
.tooltipGuild{color:#744b03;font-weight:normal;}
.tooltipTitle{font-size:13px}
.tooltip td.tl,.tooltip td.t,.tooltip td.tr,.tooltip td.bl,.tooltip td.b,.tooltip td.br{height:7px !important}
.tooltip td.tl,.tooltip td.tr,.tooltip td.bl,.tooltip td.br,.tooltip td.l,tr.r{width:7px !important}
.tooltip td.tl,.tooltip td.t,.tooltip td.tr{padding:0 !important;margin:0 !important}
.tooltip td.l q,.tooltip td.r q{width:7px !important;display:block;height:1px}
.tooltip td.tl{background:url('../images/tooltip/ttip-tl.png') no-repeat}
.tooltip td.tr{background:url('../images/tooltip/ttip-tr.png') no-repeat}
.tooltip td.t{width:auto;background:url('../images/tooltip/ttip-t.png') repeat-x}
.tooltip td.l{background:url('../images/tooltip/ttip-l.png') repeat-y}
.tooltip td.r{background:url('../images/tooltip/ttip-r.png') repeat-y}
.tooltip td.bg{background:url('../images/tooltip/ttipbg.png') repeat}
.tooltip td.bl{background:url('../images/tooltip/ttip-bl.png') no-repeat}
.tooltip td.br{background:url('../images/tooltip/ttip-br.png') no-repeat}
.tooltip td.b{width:auto;background:url('../images/tooltip/ttip-b.png') repeat-x}
.tooltip div{font:11px/16px Verdana,"Trebuchet MS",Arial,Helvetica,sans-serif;color:white;margin:0;padding:1px 2px}
.item-content{color:white}

.tooltipDivider{ padding-left: 10px; width: 275px; border-left: 1px solid #444;}
/* light tooltip */
/*...........................................................*/
.light-tip{position:relative;max-width:300px}
.light-tip td.tl,.light-tip td.t,.light-tip td.tr,.light-tip td.bl,.light-tip td.b,.light-tip td.br{height:9px !important}
.light-tip td.tl,.light-tip td.tr,.light-tip td.bl,.light-tip td.br,.light-tip td.l,.light-tip td.r{width:9px !important}
.light-tip td.tl,.light-tip td.t,.light-tip td.tr{padding:0 !important;margin:0 !important}
.light-tip td.l q,.light-tip td.r q,.light-tip td.tr q,.light-tip td.tl q,.light-tip td.t q{width:9px !important;display:block;height:1px;}
.light-tip td.tl{background:url('../images/tooltip/lp-tl.png') no-repeat}
.light-tip td.tr{background:url('../images/tooltip/lp-tr.png') no-repeat}
.light-tip td.t{width:auto;background:url('../images/tooltip/lp-t.png') repeat-x}
.light-tip td.l{background:url('../images/tooltip/lp-l.png') repeat-y}
.light-tip td.r{background:url('../images/tooltip/lp-r.png') repeat-y}
.light-tip td.bg{background:url('../images/tooltip/lp-bg.png') repeat}
.light-tip td.bl{background:url('../images/tooltip/lp-bl.png') no-repeat}
.light-tip td.br{background:url('../images/tooltip/lp-br.png') no-repeat}
.light-tip td.b{width:auto;background:url('../images/tooltip/lp-b.png') repeat-x}
.light-tip div{font:11px/16px Verdana,"Trebuchet MS",Arial,Helvetica,sans-serif;color:black;margin:0;padding:1px 2px}


.globalToolTip{position:absolute;top:0;left:0;display:none;z-index:99999;color:white}
.globalToolTip div{padding:1px 3px}
.globalToolTip td.tl,.globalToolTip td.tm,.globalToolTip td.tr,.globalToolTip td.ml,.globalToolTip td.mm,.globalToolTip td.mr,.globalToolTip td.bl,.globalToolTip td.bm,.globalToolTip td.br{height:13px;background-image:url('../images/newtip/tip.png')}
.globalToolTip td.tl em,.globalToolTip td.tr em,.globalToolTip td.bl em,.globalToolTip td.br{height:13px;width:13px;display:block}
.globalToolTip td.tm{background-position:-13px 0}
.globalToolTip td.tr{background-position:100% 0}
.globalToolTip td.ml{background-position:0 -13px}
.globalToolTip td.mm{background-position:-13px -13px}
.globalToolTip td.mr{background-position:100% -13px}
.globalToolTip td.bl{background-position:0 100%}
.globalToolTip td.bm{background-position:-13px 100%}
.globalToolTip td.br{background-position:100% 100%}




/* item tooltip formatting */
/*...........................................................*/
.myItemName{font-size:13px}
.myGold{color:#7e7046}
.myOrange{color:#ff8000}
.myPurple{color:#A335EE}
.myBlue{color:#0070DD}
.myGray{color:#c9c9c9}
.myGreen{color:#00FF00}
.myYellow{color:#ffd517}
.myRed{color:#d80000}
.myWhite{color:#ffffff}
.myTable{color:#FFFFFF;font-size:9pt;font-family:Arial,Helvetica,sans-serif}

.myRight{color:#FFFFFF;font-size:9pt;position:absolute;right:0px}
a.rarity0{font-size:10pt;color:#5B5B5B !important}/*grey*/
a.rarity0:hover{color:#919191 !important}/*grey*/
a.rarity1{font-size:10pt;color:#ffffff !important}/*white*/
a.rarity1:hover{color:#ffffff !important}/*white*/
a.rarity2{font-size:10pt;color:#007200 !important}/*green*/
a.rarity2:hover{color:#00A900 !important}/*green*/
a.rarity3{font-size:10pt;color:#004385 !important}/*blue*/
a.rarity3:hover{color:#0062C3 !important}/*blue*/
a.rarity4{font-size:10pt;color:#5D1F88 !important}/*purple*/
a.rarity4:hover{color:#B343FF !important}/*purple*/
a.rarity5{font-size:10pt;color:#C24E00 !important}/*orange*/
a.rarity5:hover{color:#FA9900 !important}/*orange*/
a.rarity6{font-size:10pt;color:#9C884D !important}/*gold*/
a.rarity6:hover{color:#e5cc80 !important}/*gold*/
a.rarity6:hover{font-size:10pt;color:#e5cc80 !important}/*gold*/
a.rarity7{font-size:10pt; color:#7e7046 !important}/*gold*/
a.rarity7:hover{font-size:10pt; color:#7e7046 !important}/*gold*/
.ps a:hover{text-decoration:none !important}
.ps a.rarity0{font-size:12px;color:#5B5B5B !important}/*grey*/
.ps a.rarity0:hover{color:#919191 !important}/*grey*/
.ps a.rarity1{font-size:12px;color:#ffffff !important}/*white*/
.ps tr:hover a.rarity1,.ps a.rarity1:hover{color:black !important}/*black*/
.ps a.rarity2{font-size:12px;color:#007200 !important}/*green*/
.ps a.rarity2:hover{color:#00A900 !important}/*green*/
.ps a.rarity3{font-size:12px;color:#004385 !important}/*blue*/
.ps a.rarity3:hover{color:#0062C3 !important}/*blue*/
.ps a.rarity4{font-size:12px;color:#5D1F88 !important}/*purple*/
.ps a.rarity4:hover{color:#B343FF !important}/*purple*/
.ps a.rarity5{font-size:12px;color:#C24E00 !important}/*orange*/
.ps a.rarity5:hover{color:#FA9900 !important}/*orange*/
.ps a.rarity6{font-size:12px;color:#9C884D !important}/*gold*/
.ps a.rarity6:hover{color:#e5cc80 !important}/*gold*/
.ps a.rarity6:hover{font-size:12px;color:#e5cc80 !important}/*gold*/
.ps a.rarity7{font-size:12px;color:#7e7046 !important}/*orange*/
.ps a.rarity7:hover{color:#7e7046 !important}/*orange*/
.ps tr.data2 a.rarity0{color:white !important}/*grey*/
.ps tr.data2 a.rarity0:hover{color:white !important}/*grey*/
.ps tr.data2 a.rarity1{color:white !important}/*white*/
.ps tr.data2 a.rarity1:hover{color:white !important}/*white*/
.ps tr.data2 a.rarity2{color:white !important}/*green*/
.ps tr.data2 a.rarity2:hover{color:white !important}/*green*/
.ps tr.data2 a.rarity3{color:white !important}/*blue*/
.ps tr.data2 a.rarity3:hover{color:white !important}/*blue*/
.ps tr.data2 a.rarity4{color:white !important}/*purple*/
.ps tr.data2 a.rarity4:hover{color:white !important}/*purple*/
.ps tr.data2 a.rarity5{color:white !important}/*orange*/
.ps tr.data2 a.rarity5:hover{color:white !important}/*orange*/
.ps tr.data2 a.rarity6{color:white !important}/*gold*/
.ps tr.data2 a.rarity6:hover{color:white !important}/*gold*/
.ps tr.data2 a.rarity7{color:white !important}/*gold*/
.ps tr.data2 a.rarity7:hover{color:white !important}/*gold*/
.ps .dropShadow a.rarity1{color:black !important}
.socketImg{width:14px;height:14px;vertical-align:-20%;margin:0 7px 0 0;padding:0}
.tooltipRight{position:relative;float:right;clear:right;margin: 0 0 0 4px}
.bonusGreen{color:#00FF00}
.setNameYellow{color:#ffd517;font-size:11px}
.setItemIndent {display:inline;}
.setItemIndent span{margin-left:9px;}
.setItemYellow{color:#f8ffa8}
.setItemGray{color:#787880}
.myBlueGem{color:#666666;display:block;background:url(blue-mini.gif) no-repeat 3px 4px;padding-left:19px}
.myMetaGem{color:#666666;display:block;background:url(meta-mini.gif) no-repeat 3px 4px;padding-left:19px}
.myOrangeGem{color:#666666;display:block;background:url(orange-mini.gif) no-repeat 3px 4px;padding-left:19px}
.myPurpleGem{color:#666666;display:block;background:url(purple-mini.gif) no-repeat 3px 4px;padding-left:19px}
.myRedGem{color:#666666;display:block;background:url(red-mini.gif) no-repeat 3px 4px;padding-left:19px}
.myYellowGem{color:#666666;display:block;background:url(yellow-mini.gif) no-repeat 3px 4px;padding-left:19px}