/* CSS Document */

* {
font-size:10px;
font-family : Verdana, Arial, Helvetica, sans-serif;
}
strong{
font-weight:bold;
}

.tree-icon-edit {  height:10px; width:8px; background-image:url(../resources/application_edit.png) !important;}
.tree-icon-application-go {  background-image:url(./application_go.png) !important;}
.tree-icon-view-movie {  background-image:url(./application_side_expand.png) !important;}

.seasonHeight{
	height:40px;
}