/*
// Icon Classes */
.x-action-col-icon{
	cursor	: pointer
}
.genericIcon16{
	width 	: 16px;
	height	: 16px;
	cursor	: pointer
}
.genericIcon48{
	width 	: 48px;
	height	: 48px;
	cursor	: pointer
}

.icon-view {
	background-image:url(../resources/magnifier.png) ! important;
	cursor          : pointer
}
.icon-better {
	background-image:url(../resources/award_star_gold_2.png) ! important;
}
.icon-addbasket {
	background-image:url(../resources/add.png) ! important;
}
.icon-remove {
	background-image:url(../resources/delete.png) ! important;
}
.wow-quality-4 {
	color : purple;
}
.wow-quality-3 {
	color : blue;
}
.wow-quality-2 {
	color : green;
}
.wow-quality-1 {
	color : gray;
}
.row-bold{
	font-weight:bold;
}
.icon-edit {
	background-image:url(../resources/application_edit.png) ! important;
}
.icon-save {
	background-image:url(../resources/save.png) ! important;
}
.icon-save-and-prev {
	background-image:url(../resources/save-and-prev.png) ! important;
}
.icon-save-and-next {
	background-image:url(../resources/save-and-next.png) ! important;
}
.icon-star-yellow {
	background-image:url(../resources/star_yellow.png) ! important;
	cursor          : pointer
}
.icon-star-grey {
	background-image:url(../resources/star_grey.png) ! important;
	cursor          : pointer
}
.icon-unread {
	background-image:url(../resources/unread.gif) ! important;
	cursor          : pointer
}
.icon-read {
	background-image:url(../resources/read.gif) ! important;
	cursor          : pointer
}
.iconToPause {
	background-image:url(../resources/play_blue.png) ! important;
	cursor          : pointer
}
.iconToPlay {
	background-image:url(../resources/pause_blue.png) ! important;
	cursor          : pointer
}
.iconPause {
	background-image:url(../resources/pause_blue.png) ! important;
	cursor          : pointer
}
.iconPlay {
	background-image:url(../resources/play_blue.png) ! important;
	cursor          : pointer
}
.iconStop {
	background-image:url(../resources/stop_blue.png) ! important;
	cursor          : pointer
}
.iconMute {
	background-image:url(../resources/sound_high.png) ! important;
	cursor          : pointer
}
.x-grid-center-icon{
display:block;
margin:0 auto;
text-align:center;
cursor:hand;
}
.qdBackFrame{
	background-color : #D3E1F1
}
.moviegrid-icon-folder{
	background:url(../resources/themes/images/default/tree/folder.gif) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-icon-nfo{
	background:url(../resources/nfo.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-icon-avi{
	background:url(../resources/avi.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-icon-poster{
	background:url(../resources/picture.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-icon-none{
	background:url(../resources/none.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-icon-star{
	background:url(../resources/star_yellow.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-icon-extra{
	background:url(../resources/extra.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-icon-backdrop{
	background:url(../resources/backdrop.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-icon-srt{
	background:url(../resources/srt.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}


.divPreview{
	font-family		: Arial;
	font-size		: 14px;
	padding			: 5px;
}
.divPreview .cellBottom {
	background-color: #333;
	filter			: alpha(opacity=50);
	-moz-opacity	: 0.5;
	opacity			: 0.5;
	border-top		: 3px solid black;
	color			: white;
	font-size		: 10px;
}
.divPreview .titlePreview{
	font-family		: Arial;
	font-size		: 16px;
	color			: red;
}
.divPreview .heightPreviewBottom{
	height			: 200px;
}
.divPreview .castPreview{
	width			: 250px;
}
.divPreview ul{
	margin-left		: 100px;
	width			: 200px ;
	list-style		: none ;
	padding			: 0;	/*margin-top		: -20px;*/
	max-height		: 50px;
	overflow		: hidden;
}
.divPreview li {
	list-style	: none outside none;
	overflow	: hidden;
}
.titleCast{
	display	: block;
	float	: left;
	width	: 80px;
	overflow: hidden;
}

.overFlow-H{
	overflow-x	: auto;
	overflow-y	: hidden;
}

.images-view-thumb{
	background: #dddddd;
	padding: 3px;
	padding-bottom: 0;
}

.x-quirks .images-view-thumb {
	padding-bottom: 3px;
}

.images-view-thumb img{
	/*height: 60px;*/
	/*width: 80px;*/
}
.images-view-thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
.images-view-thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
	/*width: 86px; // for ie to ensure that the text is centered*/
}

.images-view-x-item-over{
	border:1px solid #dddddd;
	background: #efefef url(skins/resources/over.gif) repeat-x left top;
	padding: 4px;
}

.images-view-x-item-selected{
	background: #eff5fb url(skins/resources/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}

.images-view-x-item-selected .thumb{
	background:transparent;
}

.images-view-loading-indicator {
	font-size:11px;
	background-image:url('skins/resources/themes/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.x-view-selector {
	position:absolute;
	left:0;
	top:0;
	width:0;
	border:1px dotted;
	opacity: .5;
	-moz-opacity: .5;
	filter:alpha(opacity=50);
	zoom:1;
	background-color:#c3daf9;
	border-color:#3399bb;
}



.thumbnail-view-thumb{
	background: #dddddd;
	padding: 0px;
	padding-bottom: 0;
}

.x-quirks .thumbnail-view-thumb {
	padding-bottom: 3px;
}

.thumbnail-view-thumb img{
	/*height: 60px;*/
	/*width: 80px;*/
}
.thumbnail-view-thumb-wrap{
	float: left;
	margin: 1px;
	margin-right: 0;
	padding: 2px;
}
.thumbnail-view-thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
	/*width: 86px; // for ie to ensure that the text is centered*/
}

.thumbnail-view-x-item-over{
	border:1px solid #dddddd;
	background: #efefef url(skins/resources/over.gif) repeat-x left top;
	padding: 1px;
}

.thumbnail-view-x-item-selected{
	background: #eff5fb url(skins/resources/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 1px;
}

.thumbnail-view-x-item-selected .thumb{
	background:transparent;
}

.thumbnail-view-loading-indicator {
	font-size:11px;
	background-image:url('skins/resources/themes/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.moviegrid-filter-posterTrue{
	background:url(../resources/pictureTrue.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-filter-posterFalse{
	background:url(../resources/pictureFalse.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-filter-posterDisabled{
	background:url(../resources/pictureDisabled.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-filter-nfoTrue{
	background:url(../resources/nfoTrue.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-filter-nfoFalse{
	background:url(../resources/nfoFalse.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}
.moviegrid-filter-nfoDisabled{
	background:url(../resources/nfoDisabled.png) center left no-repeat ;
	width  : 16px;
	height : 16px;
}

.icon-sabnzbd {
	background-image:url(../resources/sabnzbd.png) !important;
}

.icon-win-sickbeard {
	background-image:url(../resources/icons/sickbeard_16.png) !important;
}
.icon-sickbeard {
	background-image:url(../resources/icons/sickbeard.png) !important;
}

.icon-win-extplorer {
	background-image:url(../resources/icons/extplorer_16.png) !important;
}
.icon-extplorer {
	background-image:url(../resources/icons/extplorer.png) !important;
}

.icon-app-win-qd-mediadb-indexer {
	background-image:url(../resources/icons/qd.mediadb.indexer_16.png) !important;
}
.icon-app-qd-mediadb-indexer {
	background-image:url(../resources/icons/qd.mediadb.indexer.png) !important;
}


.icon-app-win-qd-system-fileExplorer {
	background-image:url(../resources/icons/extplorer_16.png) !important;
}
.icon-app-qd-system-fileExplorer {
	background-image:url(../resources/icons/extplorer.png) !important;
}
.icon-app-win-qd-nzb-NZBPanel{
	background:url(../resources/icons/qd.nzb.NZBPanel_16.png) center left no-repeat ;
}
.icon-app-qd-nzb-NZBPanel{
	background:url(../resources/icons/qd.nzb.NZBPanel.png) center left no-repeat ;
}
.icon-app-win-qd-sabnzbd-sabnzbdPanel{
	background:url(../resources/icons/qd.sabnzbd.sabnzbdPanel_16.png) center left no-repeat ;
}
.icon-app-qd-sabnzbd-sabnzbdPanel{
	background:url(../resources/icons/qd.sabnzbd.sabnzbdPanel.png) center left no-repeat ;
}
.icon-app-win-qd-mediadb-moviePanel{
	background:url(../resources/icons/qd.mediadb.moviePanel_16.png) center left no-repeat ;
}
.icon-app-qd-mediadb-moviePanel{
	background:url(../resources/icons/qd.mediadb.moviePanel.png) center left no-repeat ;
}
.icon-app-win-qd-mediadb-seriePanel{
	background:url(../resources/icons/qd.mediadb.seriePanel_16.png) center left no-repeat ;
}
.icon-app-qd-mediadb-seriePanel{
	background:url(../resources/icons/qd.mediadb.seriePanel.png) center left no-repeat ;
}
.icon-app-win-qd-mediadb-serieFileSorter{
	background:url(../resources/icons/qd.mediadb.serieFileSorter_16.png) center left no-repeat ;
}
.icon-app-qd-mediadb-serieFileSorter{
	background:url(../resources/icons/qd.mediadb.serieFileSorter.png) center left no-repeat ;
}
.icon-app-win-qd-mediadb-xbmcDB{
	background:url(../resources/icons/qd.mediadb.xbmcDB_16.png) center left no-repeat ;
}
.icon-app-qd-mediadb-xbmcDB{
	background:url(../resources/icons/qd.mediadb.xbmcDB.png) center left no-repeat ;
}
.icon-app-win-qd-system-SystemStatus{
	background:url(../resources/icons/MyDesktop.SystemStatus_16.png) center left no-repeat ;
}
.icon-app-qd-system-SystemStatus{
	background:url(../resources/icons/MyDesktop.SystemStatus.png) center left no-repeat ;
}
.icon-folder-open{
	background:url(../resources/folder-green-open-icon.png) center left no-repeat ;
}
.icon-folder-close{
	background:url(../resources/folder-blue-icon.png) center left no-repeat ;
}
.lbl-disabled{
	opacity			: 0.3;
}
.sorter-folder{
	color			: blue;
}
.sorter-separator{
	color			: green;
}
.sorter-renamed{
	color			: red;
}
.icon-check-all{
	background:url(./border_all.png) center left no-repeat ;
	width  : 20px;
	height : 16px;
	display: inline-block;
}
.icon-check-none{
	background:url(./border_remove.png) center left no-repeat ;
	width  : 20px;
	height : 16px;
	display: inline-block;
}
